<!-- Page Header -->
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="page-title">List of Patients</h3>
    </div>
  </div>
</div>
<!-- /Page Header -->

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="card">
          <p-table
            [value]="user"
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10, 25, 50]"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
              <tr>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.contactNo }}</td>
                <td>
                  <button
                    pButton
                    type="button"
                    label="Danger"
                    class="p-button-rounded p-button-rounded"
                  ></button>

                  <button
                    pButton
                    type="button"
                    label="Danger"
                    class="p-button-success p-button-rounded"
                  ></button>

                  <button
                    pButton
                    type="button"
                    label="Danger"
                    class="p-button-danger p-button-rounded"
                  ></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
              <p-button
                type="button"
                icon="pi pi-plus"
                styleClass="p-button-text"
              ></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
              <p-button
                type="button"
                icon="pi pi-cloud"
                styleClass="p-button-text"
              ></p-button>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
