.con {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.form-con {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 0.5rem;
}

.form-con form {
  padding: 2rem;
  width: 25rem;
  border-radius: 1.9rem;
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  text-align: center;
}

.form-con form h3 {
  font-size: 1.5rem;
  margin: 3rem;
  text-transform: uppercase;
  color: #21b6a8;
}

.form-con form .box {
  width: 100%;
  display: flex;
  border-radius: 1rem;
  background-color: var(--light-bg);
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  color: var(--black);
  border: var(--border);
  margin: 1rem 0;
}

.form-con form p {
  padding-top: 1.5rem;
  font-size: 1rem;
  color: var(--black);
  margin-bottom: 1px;
}

.form-con form p a {
  color: #21b6a8;
}

.form-con form p a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.2rem 3rem;
  cursor: pointer;
  color: var(--white);
  font-size: 1rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
  margin-top: 1rem;
  font-weight: bold;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover {
  background-color: var(--black);
}

.btn {
  background-color: #21b6a8;
  border-radius: 2.5rem;
  min-width: 50%;
  min-height: 2px;
}

.option-btn {
  background-color: var(--orange);
}

.delete-btn {
  background-color: var(--red);
}
