<!-- Container-->
<div class="con">
  <!-- Container for logo-->
  <div class="logo_con" style="display: none">
    <img src="/src/assets/images/Medi Clinic.png" style="height: 8rem" />
  </div>
  <!-- Container for form-->
  <div class="form-con">
    <form [formGroup]="registerform" (ngSubmit)="proceedRegistration()">
      <h3>Sign up</h3>
      <input
        type="text"
        name="email"
        placeholder="Email"
        class="box"
        required
        matInput
        formControlName="email"
      />
      <input
        type="text"
        name="firstname"
        placeholder="First Name"
        class="box"
        required
        matInput
        formControlName="firstname"
      />
      <input
        type="text"
        name="lastname"
        placeholder="Last Name"
        class="box"
        required
        matInput
        formControlName="lastname"
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
        class="box"
        required
        matInput
        formControlName="password"
      />
      <input
        type="password"
        name="confirmpassword"
        placeholder="Confirm Password"
        class="box"
      />
      <button class="btn">Register</button>
      <p>Already Have An Account? <a href="index.html">Login</a></p>
    </form>
  </div>
</div>
