<!-- ADMIN DASHBOARD DESIGN -->

<!-- Main Wrapper -->
<div class="main-wrapper">
  <!-- Header -->
  <div class="header" [ngClass]="{ hidden: !isUserAdmin()}">
    <app-header></app-header>
  </div>
  <!-- /Header -->

  <!-- Sidebar -->
  <div class="sidebar" id="sidebar" [ngClass]="{ hidden: !isUserAdmin() }">
    <app-sidebar></app-sidebar>
  </div>
  <!-- /Sidebar -->

  <!-- Page Wrapper -->
  <div class="page-wrapper">
    <div class="content container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /Page Wrapper -->
</div>
<!-- /Main Wrapper -->
