<div class="row" style="margin-top: 40%;height:70% !important">
  <div class="col-md-5 col-lg-4 col-xl-12 theiaStickySidebar">

  <!-- Profile Sidebar -->
<div class="profile-sidebar"  style="height:70vh !important;">
  <div class="widget-profile pro-widget-content"  style="height:35% !important">
    <div class="profile-info-widget">
      <a href="#" class="booking-doc-img">
        <img src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
      </a>
      <div class="profile-det-info"  style="height:49%; ">
        <h3>Dr. Darren Elder</h3>

        <div class="patient-details">
          <h5 class="mb-0">General Practioner</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-widget" >
    <nav class="dashboard-menu">
      <ul>
        <li class="active">
          <a routerLink="/doctor-dashboard" routerLinkActive="active" >
            <i class="pi pi-desktop"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLink="/doctor-appointments" routerLinkActive="active">
            <i class="pi pi-calendar"></i>
            <span>Appointments</span>
          </a>
        </li>
        <li>
          <a routerLink="/doctor-patients" routerLinkActive="active">
            <i class="pi pi-users"></i>

            <span>My Patients</span>
          </a>
        </li>
        <li>
          <a href="doctor-change-password.html" routerLinkActive="active">
            <i class="pi pi-user-edit"></i>
            <span>Change Password</span>
          </a>
        </li>
        <li>
          <a href="index-2.html" routerLinkActive="active">
            <i class="pi pi-sign-out"></i>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- /Profile Sidebar -->
</div>
