<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="page-title">List of Doctors</h3>
    </div>
    <div class="col-sm-12 mt-2">
      <button
        (click)="addDoctor()"
        pButton
        pRipple
        label="Add New Doctor"
        icon="pi pi-plus"
        class="p-button-success"
      ></button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="card">
          <p-table
            [value]="doctor"
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10, 25, 50]"
          >
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 25%">FirstName</th>
                <th style="width: 25%">LastName</th>
                <th style="width: 25%">Email</th>
                <th style="width: 25%">Specialization</th>
                <th style="width: 25%">Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-doctor>
              <tr>
                <td>{{ doctor.firstName }}</td>
                <td>{{ doctor.lastName }}</td>
                <td>{{ doctor.email }}</td>
                <td>{{ doctor.contactNo }}</td>
                <td>{{ doctor.specialization }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
              <p-button
                type="button"
                icon="pi pi-plus"
                styleClass="p-button-text"
              ></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
              <p-button
                type="button"
                icon="pi pi-cloud"
                styleClass="p-button-text"
              ></p-button>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Register New Doctor"
  [(visible)]="visible"
  [position]="position"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <form [formGroup]="addDoctorForm">
    <div class="row mb-3">
      <div class="row mb-3">
        <label for="Email" class="col-md-4 col-lg-3 col-form-label"
          >Email</label
        >
        <div class="col-md-8 col-lg-9">
          <input
            name="email"
            type="email"
            class="form-control"
            id="Email"
            placeholder="Email"
            formControlName="email"
            readonly
          />
        </div>
      </div>
    </div>
  </form>
</p-dialog>
