<!-- Container-->
<div class="con">
  <!-- Container for logo-->
  <div class="logo_container" style="display: none">
    <img src="images/logo-one.jpg" style="height: 8rem" />
  </div>
  <!-- Container for form-->
  <div class="form-con">
    <form [formGroup]="loginform" (ngSubmit)="proceedLogin()">
      <h3>Log in</h3>
      <input
        type="email"
        name="username"
        placeholder="Username"
        class="box"
        required
        matInput
        formControlName="username"
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
        class="box"
        required
        matInput
        formControlName="password"
      />
      <button class="btn">Login</button>
      <p><a href="">Forgot Your Password</a></p>
      <p><a href="register.html">Register</a></p>
    </form>
  </div>
</div>
