<!-- Container-->
<div class="con">
  <!-- Container for logo-->
  <div class="logo_container" style="display: none">
    <img src="images/logo-one.jpg" style="height: 8rem" />
  </div>
  <!-- Container for form-->
  <div class="form-con">
    <form [formGroup]="loginForm">
      <h3>Log in</h3>
      <div>
        <!-- <button matPrefix mat-icon-button disabled="true">
          <mat-icon>person</mat-icon>
        </button> -->
        <input
          type="email"
          name="email"
          placeholder="email"
          formControlName="email"
          class="box"
          required
        />
      </div>

      <input
        type="password"
        name="password"
        placeholder="Password"
        formControlName="password"
        class="box"
        required
      />
      <button class="btn" (click)="onSubmit()">Login</button>
      <p><a href="">Forgot Your Password</a></p>
      <p><a routerLink="/signup">Register</a></p>
    </form>
  </div>
</div>
