<!-- Page Header -->
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="page-title">List of Receptionists</h3>
    </div>
    <div class="col-sm-12 mt-2">
      <button
        (click)="addReceptionist()"
        pButton
        pRipple
        label="Add New Receptionist"
        icon="pi pi-plus"
        class="p-button-success"
      ></button>
    </div>
  </div>
</div>
<!-- /Page Header -->

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="card">
          <p-table
            [value]="reception"
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10, 25, 50]"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-reception>
              <tr>
                <td>{{ reception.firstName }}</td>
                <td>{{ reception.lastName }}</td>
                <td>{{ reception.email }}</td>
                <td>{{ reception.contactNo }}</td>
                <td>
                  <button
                    pButton
                    type="button"
                    label="Danger"
                    class="p-button-rounded p-button-rounded"
                  ></button>

                  <button
                    pButton
                    type="button"
                    label="Danger"
                    class="p-button-success p-button-rounded"
                  ></button>

                  <button
                    pButton
                    type="button"
                    label="Danger"
                    class="p-button-danger p-button-rounded"
                  ></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
              <p-button
                type="button"
                icon="pi pi-plus"
                styleClass="p-button-text"
              ></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
              <p-button
                type="button"
                icon="pi pi-cloud"
                styleClass="p-button-text"
              ></p-button>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Register New Receptionist"
  [(visible)]="visible"
  [position]="position"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <form [formGroup]="addReceptionistForm">
    <div class="row mb-3">
      <div class="row mb-3">
        <label for="Email" class="col-md-4 col-lg-3 col-form-label"
          >Email</label
        >
        <div class="col-md-8 col-lg-9">
          <input
            name="email"
            type="email"
            class="form-control"
            id="Email"
            placeholder="Email"
            formControlName="email"
            readonly
          />
        </div>
      </div>
    </div>
  </form>
</p-dialog>
